<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">With a diverse skill set, I create beautiful, adaptive, and effective applications, some of which are showcased below.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 skill-container">
                    <img src="img/logos/ux_ui_design.png" class="img-responsive img-circle" alt="">            
                    <h4 class="skill-heading">UX/UI Design</h4>
                    <p class="text-muted">UX/UI Design is the practice of creating intuitive and visually appealing user interfaces and experiences that enhance usability and satisfaction across digital products.</p>
                </div>
                <div class="col-md-4 skill-container">
                    <img src="img/logos/figma.png" class="img-responsive img-normal" alt="">            
                    <h4 class="skill-heading">Figma</h4>
                    <p class="text-muted">Figma is a cloud-based design and prototyping platform that enables real-time collaboration for creating and sharing user interfaces and experiences.</p>
                </div>
                <div class="col-md-4 skill-container">
                    <img src="img/logos/html_css.png" class="img-responsive img-normal" alt="">            
                    <h4 class="skill-heading">HTML/CSS</h4>
                    <p class="text-muted">HTML and CSS are foundational web technologies used to structure content and style the appearance of websites, enabling the creation of visually appealing and well-organized web pages.</p>
                </div>
                <div class="col-md-4 skill-container">
                    <img src="img/logos/photoshop.png" class="img-responsive img-normal" alt="">            
                    <h4 class="skill-heading">Photoshop</h4>
                    <p class="text-muted">Photoshop is a comprehensive image editing and graphic design software developed by Adobe, widely used for photo manipulation, digital painting, and creating intricate visual compositions.</p>
                </div>
                <div class="col-md-4 skill-container">
                    <img src="img/logos/webflow.png" class="img-responsive img-normal" alt="">            
                    <h4 class="skill-heading">Webflow</h4>
                    <p class="text-muted">Webflow is a visual web design and development platform that enables users to create responsive websites without coding, offering integrated CMS and hosting services for seamless deployment and management.</p>
                </div>
                <div class="col-md-4 skill-container">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skill-heading">Responsive Design</h4>
                    <p class="text-muted">Responsive Design is a web development approach that creates websites capable of adapting their layout and content dynamically to provide optimal viewing experiences across a wide range of devices and screen sizes.</p>
                </div>               
            </div>
        </div>
    </section>